h1 {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
}
h2 {
  font-size: 18px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 200;
}

body {
  background-color: #40434b;
}

#container {
  background-color: #669ae9;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 300px;
  height: 600px;
}
